.input-div-poll-vote {
  margin: 10px;
  display: grid;
  grid-template-columns: 250px 150px 50px;
}

.label-poll-vote {
  margin: 10px;
  grid-column: 1;
}

.text-input-poll-vote {
  margin: 10px;
  width: 100%;
  grid-column: 2;
}

.span-poll-vote {
  margin: 10px;
  grid-column: 3;
}

.input-div-create-poll {
  margin: 10px;
  display: grid;
  grid-template-columns: 250px 150px;
}

.label-create-poll {
  margin: 10px;
  grid-column: 1;
}

.text-input-create-poll {
  margin: 10px;
  width: 100%;
  grid-column: 2;
}
/* 
.button-create-poll {
  cursor: pointer;
  padding: 10px;
  background-color: #ddd;
  border-radius: 10px;
  width: 100px;
} */
