.input-div-poll-vote {
  margin: 10px;
  display: grid;
  grid-template-columns: 250px 50px;
}

.label-poll-vote {
  margin: 10px;
  grid-column: 1;
}

.text-input-poll-vote {
  margin: 10px;
  width: 100%;
  grid-column: 2;
}

.span-poll-vote {
  margin: 10px;
  grid-column: 3;
}

.input-div-create-poll {
  margin: 10px;
  display: grid;
  grid-template-columns: 100px 350px;
}

.label-create-poll {
  margin: 10px;
  padding: 15px 0px;
  grid-column: 1;
}

.text-input-create-poll {
  margin: 10px;
  width: 100%;
  grid-column: 2;
}
